<!doctype html>
<html lang="{{_html.lang}}">
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="noindex, nofollow">

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

    <style type="text/css">
      body {
        background-color: #f5f5f5 !important;
      }
    </style>

  </head>
  <body>
    {{> ../partials/helloWorld hello=message}}
    <div>
      {{message}} (again)
    </div>

    <code>
      <pre>
 // Look at the browser console!
console.log({{[../helpers/toJSON] someJSON null 2}});
      </pre>
    </code>

    <p>
      That's just an example to show how you can pass a JSON object to the template and use it in JS directly.<br>
    </p>

    <code>
      <pre>
 // Do not do that! (or suffer consequences)
console.log(JSON.stringify(JSON.parse(\{{someJSON}})));
      </pre>
    </code>

    <script type="application/javascript">
      console.log(JSON.stringify({{[../helpers/toJSON] someJSON}}, null, 2)); // Look at the browser console!

      // Will fail
      // console.log(JSON.stringify(JSON.parse({{someJSON}})));
    </script>
  </body>
</html>